/* reset estilos del navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  /** reutilizando codigo para etiquetas a, button **/

  li {
    list-style: none;
}
  
  .enlaces a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background: #7a7a79;
}

/* tamaño al logo del nav */
 .img-logo img{
    position: relative;
    padding: 0 0 0 40px;
    width: 100px;
}

nav .enlaces a{
    position: relative;
    padding: 0 20px;
    transition: all .5s;            
}

/* Hover a los enlaces */
nav .enlaces a:hover{
    color: #faaf38;
}

/* Genera la linea inferior al hacer hover a los enlaces */
nav .enlaces a::before{
    content: '';
    width:0;
    height: 2px;
    background:#faaf38;
    position: absolute;
    bottom: -5px;
    transition: all .5s;
}

/* Crece la linea inferior del hover */
nav .enlaces a:hover::before{
    width: 40%;
}

.btn{
    position: relative;
    top: 0;
    left: 300px;
}
/* estilos al boton Login*/
.btn button{
    padding: 10px 25px;
    background: #faaf38;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s;
}

/* Hover al boton login */
.btn button:hover{
    background: #c98520;
}

/* Card */
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.card{
    position: absolute;
    width: 350px;
    height: 400px;
    background: #fff;
    box-shadow: 0 20px 50px rgba(221, 216, 191, 0.2);
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    transition: all .5s;
}
.card:hover{
    box-shadow: 0 20px 80px rgba(228, 196, 18, 0.5);
}

.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
h2{
    font-size: 20px;
    color: #262626;
}
h2 span{
    font-size: 14px;
    background: #406ff0;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
}
p{
    color: #262626;
    margin: 20px 0;

}

/* FOOTER */
footer{
    width: 100%;
    height: 100px;
    background: #7a7a79;
}
footer div{
    float: left;
    width: 25%;
    height: 100%;
    line-height: 100px;
    transition: all .5s;
}
footer div a{
    display: block;
    text-align: center;
    font-size: 30px;
    color: #CCC;
    transition: all .5s;
 }

 footer div:hover{
    background: #faaf38;
    
 }

 footer div:hover a{
    font-size: 35px;
    color: #262626;
 }

 .copy p{
    background: #7a7a79;
    color: #CCC;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

 /* MEDIA QUERY */
 @media screen and (max-width: 769px) {
    .navbar .enlaces a{
        display: inline-block;
        text-align: center;
    }
    .img-logo img{
       display: none;
    }
    nav button{
        display: none;
    }
    .card h2{
        font-size: 18px;

    }
    .container .card p{
        display: none;
    }
    
}


 @media screen and (max-width: 992px) {
    .container .card p{
        display: none;
    }
    
}

/* Carrito */

 .submenu #img-carrito{
    margin-top: 15px;
    padding: 10px 25px;
    background: #faaf38;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s;
    /* display: block; */
} 

/* Hover carrito */
.submenu #img-carrito:hover{
    background: #c98520;
}
.submenu #carrito{
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    top: 70%;
    right: 0;
    z-index: 3;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}
/* Container carrito */
.submenu:hover #carrito{
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}










